@import "fonts.css";

/* the flex layout for the pod nav/content */
div.pod-layout {
    width: 95vw;
    display: flex;

    margin: 0 2.5vw;
    flex-direction: row;
}

/* nav for the layout */
div.nav {
    flex: 0 0 15vw;
    order: -1;

    border-right: 1px solid #979797;
    min-height: 70vh;

    overflow-x: scroll;
}

/* content section of layout */
div.content {
    flex: 1;

    margin-left: 2.5vw;
    min-height: 100vh;
    overflow-x: scroll;
}

/* mobile friendy collapses content under nav */
@media (max-width: 768px) {
    div.pod-layout {
        flex-direction: column;
    }

    div.nav {
        border: none;
        border-bottom: 1px solid #979797;
    }
}

h2, h3, h4, ul, ol, p, table, pre  {
    margin-bottom: 10px;
}

h2 {
    font-family: "Avenir Next Medium";
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
}

h3, h4 {
    font-family: "Avenir Next Medium";
}


div.nav p {
    font-family: "Avenir Next Demi Bold";
    letter-spacing: 1px;
}

div.nav {
    font-size: .75em;
}

a {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


ul.nav  {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav > ul {
    padding: 0;
}

li > ul > li {
    margin-left: 10px;
}

ul, ol {
    padding-left: 2em;
}

p > img {
    width: 99%;
    border: 1px solid #979797;
}

table {
    border-collapse: collapse;
}

th {
    font-family: "Avenir Next Medium";
}

td, th {
    border: 1px solid #979797;
    padding: 10px;
}

pre {
    padding: 10px;
    background-color: #F4F4F4;
    border: 1px solid #979797;
}

code  {
    font-size: .8em;
}
