{{define "HEAD"}}
        <link rel="stylesheet" type="text/css" href="/assets/prism.css">
        <link rel="stylesheet" type="text/css" href="/assets/style.css">
{{end}}

{{define "Pod"}}
        <div class="nav">
            <p> <a href="{{.Nav.Link}}"> {{.Nav.Name}} </a> </p>
            <ul>
            {{range $key, $value := .Nav.Subs}}
                {{template "Nav" $value }}
            {{end}}
            </ul>
        </div>
        <div class="content">
            {{ .Content }}
        </div>
        <script src="/assets/prism.js"></script>
{{end}}

{{define "Nav"}}
    <li>
        <a href="{{ .Link }}"> {{.Name}} </a>
        <ul>
        {{range $key, $val := .Subs}}
           {{template "Nav" $val}}
        {{end}}
        </ul>
    </li>
{{end}}
