<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/assets/root.css">
        {{template "HEAD" $}}
    </head>
    <body>
        <div id="header">
            <a href="/">
                <img src="/assets/logo.png" alt="elos">
            </a>
        </div>
        <div id="pod">
            {{template "Pod" $}}
        </div>
    </body>
</html>
