{{define "HEAD"}}
        <link rel="stylesheet" type="text/css" href="/assets/css/prism.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/pod.css">
{{end}}

{{define "Pod"}}
    <div class="pod-layout">

        <div class="nav">
            <p> <a href="{{.Nav.Link}}"> {{.Nav.Name}} </a> </p>
            <ul class="nav">
            {{range $key, $value := .Nav.Subs}}
                {{template "Nav" $value }}
            {{end}}
            </ul>
        </div>

        <div class="content">
            {{ .Content }}
        </div>

    </div>

    <!-- leave this lower in the page for faster loading -->
    <script src="/assets/js/prism.js"></script>
{{end}}

{{define "Nav"}}
    <li>
        <a href="{{ .Link }}"> {{.Name}} </a>
        <ul class="nav">
        {{range $key, $val := .Subs}}
           {{template "Nav" $val}}
        {{end}}
        </ul>
    </li>
{{end}}
